<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.plugins.gradle.Gradle plugin="gradle@1.24">
            <description></description>
            <switches></switches>
            <tasks></tasks>
            <rootBuildScriptDir></rootBuildScriptDir>
            <buildFile></buildFile>
            <gradleName>(Default)</gradleName>
            <useWrapper>true</useWrapper>
            <makeExecutable>false</makeExecutable>
            <fromRootBuildScriptDir>true</fromRootBuildScriptDir>
            <useWorkspaceAsHome>true</useWorkspaceAsHome>
        </hudson.plugins.gradle.Gradle>
    </builders>
    <publishers/>
    <buildWrappers>
        <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.7.4"/>
    </buildWrappers>
</project>